#game {
  /*z-index: 0;*/
  width: 960px;
  height: 690px;
  background-color: black;
  position: relative;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
}

#toolbar {
  width: 976px;
  height: 60px;
  background-color: black;
  /*opacity: 0.3;*/
  position: relative;
  margin: 0 auto;
  clear: both;
  /*opacity: 0.2;*/
}

.card {
  /*z-index: 50;*/
  width: 100px;
  height: 150px;
  background-color: blue;
  margin: 10px;
  float: left;
  /*clear: left;*/
}

#startGame {
  float: left;
}

.pause {
  /*z-index: 0;*/
  width: 960px;
  height: 690px;
  background-color: black;
  position: relative;
  margin: 0 auto;
  opacity: 0
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
}
